{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load socialaccount %}
{% block head_title %}Sign in{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content %}

  <div class="flex flex-col justify-center min-h-screen py-12 bg-gray-700 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-300 leading-9">
      Sign in to your account
    </h2>
    <p class="mt-2 text-sm text-center text-gray-400 leading-5 max-w">
      Or
      <a href="{{ signup_url }}" class="font-medium text-indigo-400 hover:text-indigo-300 focus:outline-none focus:underline transition ease-in-out duration-150">
        create a new account
      </a>
  <br>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
      <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="relative px-3 py-3 mb-4 border rounded text-red-darker border-red-dark bg-red-lighter" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="mb-4">
            {{ field.label_tag }}

            {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded bg-red-dark" %}
                {% for error in field.errors %}
                  <div class="inhidden mt-1 text-sm text-green">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded bg-green-dark" %}
              {% endif %}
            {% else %}
              {% render_field field class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded" %}
            {% endif %}
            {% if field.help_text %}
              <small class="block mt-1 text-grey">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}


        <div class="flex items-center justify-between mt-6">
          <div class="text-sm leading-5">
            <a href="{% url 'account_reset_password' %}" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
              Forgot your password?
            </a>
            <!-- <a href="{% provider_login_url 'google' %}">Login With Google</a> -->
          </div>
        </div>

        <div class="mt-6">
          <span class="block w-full rounded-md shadow-sm">
            <button type="submit" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              Sign in
            </button>
            <br>
            <a href="{% provider_login_url 'google' %}"  class="justify-center mt-3 px-2  py-2 w-full text-white bg-indigo-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2">
              <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
              <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
              </svg>
                          Login with Google
            </a>

            <a href="{% provider_login_url "facebook" method="oauth2" %}" class="justify-center mt-3 px-2 py-2 w-full text-white bg-indigo-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2">
              <!-- Replace with SVG code for Facebook login -->
              <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                <path d="M512 85.34c247.424 0 448 201.344 448 449.344 0 222.08-163.392 406.496-377.472 443.648v-318.08h106.176l16.64-123.392h-122.816v-79.072c0-35.808 16.768-70.624 70.848-70.624h60.096V188.29c-11.168-1.504-49.792-4.768-94.368-4.768-93.28 0-156.608 56.96-156.608 161.664v90.688H281.6v123.392h106.112v318.08C163.392 941.186 0 756.77 0 534.694 0 286.694 201.6 85.34 448 85.34z" fill="#ffffff"/>
              </svg>
                Login with Facebook
             </a> 

            <a href="{% provider_login_url 'github' method='oauth2' %}" class="justify-center mt-3 px-2 py-2 w-full text-white bg-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2">
              <!-- Replace with SVG code for GitHub login -->
              <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <!-- Replace the path with the GitHub logo SVG path -->
                <path fill="#ffffff" d="M8 0C3.58 0 0 3.582 0 8c0 3.537 2.29 6.533 5.47 7.59.4.073.547-.173.547-.384 0-.19-.007-.693-.01-1.36-2.225.483-2.695-1.075-2.695-1.075-.363-.924-.885-1.172-.885-1.172-.723-.495.055-.485.055-.485.798.056 1.22.818 1.22.818.71 1.185 1.863.843 2.32.645.072-.516.278-.843.506-1.037-1.773-.204-3.64-.885-3.64-3.93 0-.867.31-1.576.818-2.134-.082-.204-.36-1.015.08-2.115 0 0 .67-.215 2.2.82.637-.178 1.32-.267 2-.27.68.003 1.363.092 2 .27 1.525-1.035 2.194-.82 2.194-.82.44 1.1.162 1.91.08 2.115.51.558.817 1.267.817 2.134 0 3.053-1.87 3.723-3.65 3.922.287.245.54.731.54 1.475 0 1.064-.01 1.923-.01 2.185 0 .214.145.463.55.383C13.71 14.53 16 11.537 16 8c0-4.418-3.582-8-8-8z"/>
              </svg>
                   Login with GitHub
            </a>  

            <div class="mt-6">
              <a href="{% url 'login_with_otp' %}" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                Login with Mobile Number
              </a>
            </div>
                        
          </span>
        </div>
        
      </form>
    </div>
  </div>
</div>

{% endblock %}
