{% extends "account/base.html" %}
{% block head_title %}Verify OTP{% endblock %}

{% block content %}
  <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-300 leading-9">
    Verify OTP
  </h2>
  <form method="POST">
    {% csrf_token %}
    <div class="mt-4">
      <label for="otp" class="block font-medium text-gray-700">Enter the OTP received on your phone:</label>
      <input type="text" name="otp" id="otp" required class="form-input mt-1 block w-full">
    </div>
    {% if error_message %}
      <div class="text-red-500 mt-2">{{ error_message }}</div>
    {% endif %}
    <button type="submit" class="mt-4 w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-700">Verify OTP</button>
  </form>
{% endblock %}
