/* chat.css */

/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }
  
  .user-list {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .user-list h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .user-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .user-list li {
    margin-bottom: 10px;
  }
  
  .conversation {
    flex: 2;
    padding: 20px;
  }
  
  .conversation h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .conversation h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .message-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message-list p {
    padding: 10px;
    border-radius: 5px;
  }
  
  .message-list .sender {
    background-color: #f1f1f1;
    text-align: right;
  }
  
  .message-list .receiver {
    background-color: #e2e2e2;
    text-align: left;
  }
  
  .message-form {
    margin-top: 20px;
  }
  
  .message-form input[type="text"] {
    width: 100%;
    padding: 10px;
  }
  
  .message-form input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .message-form input[type="submit"]:hover {
    background-color: #45a049;
  }

  .textarea{
    background-color: rgb(181, 181, 179);
    border: black;
  }