{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{% block title %}Twiddle OS3{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}" integrity="sha256-uKJOxe9XiuTjN+yf8sGo8VTAtzcQT7VqcQ8TO4rTj5s=" >
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" integrity="sha256-NH1D9D34nb/bM6BN22No9mlJBGjThgmfOqftW0B7CCo=">
    <link rel="icon" href="{% static "favicon.ico" %}" integrity="sha256-NH1D9D34nb/bM6BN22No9mlJBGjThgmfOqftW0B7CCo=" >

    <!-- Custom js -->
    {% block scripts %}
    {% endblock scripts %}
    {% block head %}
    {% endblock head %}
  </head>

  <body>

    {% block messages %}
    {% if messages %}
      {% for message in messages %}
        <div class="text-white px-6 py-4 border-0 rounded relative mb-1 bg-blue-500">
          <span class="text-xl inline-block mr-5 align-middle">
            <i class="fas fa-bell"></i>
          </span>
          <span class="inline-block align-middle mr-8">
            {{ message }}
          </span>
          <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
            <span>×</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    {% endblock messages %}



    {% block content %}
    {% endblock content %}

    <script>
      function closeAlert(event){
              let element = event.target;
              while(element.nodeName !== "BUTTON"){
                      element = element.parentNode;
                    }
              element.parentNode.parentNode.removeChild(element.parentNode);
            }

      function toggleNavbar(collapseID){
              document.getElementById(collapseID).classList.toggle("hidden");
              document.getElementById(collapseID).classList.toggle("flex");
            }
    </script>
    <script src="https://kit.fontawesome.com/faa629c1cc.js"  crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>  </body>
</html>
<style >
   @media  (max-width: 500px)
    { 
      body{
        max-height: 800px;
      }
    }
</style>
