{% extends "account/base.html" %}
{% block head_title %} Add mobile Number{% endblock %}

{% block content %}
  <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-300 leading-9">
    Enter the mobile number
  </h2>
  <form method="POST" >
    {% csrf_token %}
    <div class="mt-4">
         <label for="mobile_number">Mobile Number:</label>
          <input type="text" id="mobile_number" name="mobile_number"><br><br>
    </div>

    <button type="submit" class="mt-4 w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-700">Register</button>
  </form>

  <style> 

    input{
      border: 2px solid black;
    }
  </style>
{% endblock %}